@tailwind base;
@tailwind components;
@tailwind utilities;
.fade-enter {
  opacity: 0.01;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-leave {
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

/* width */
.custom-scroll::-webkit-scrollbar {
  width: 8px;
}

/* Track */
.custom-scroll::-webkit-scrollbar-track {
  @apply rounded-md bg-gray-100;
}

/* Handle */
.custom-scroll::-webkit-scrollbar-thumb {
  @apply rounded-full bg-blue-500;
}

/* Handle on hover */
.custom-scroll::-webkit-scrollbar-thumb:hover {
  @apply rounded-full bg-blue-400;
}
